@keyframes drop {
    0%{
      left:-500px;
    }

    100%{
  left:60%;
    }
}

@keyframes slide {
    0%{
      left:60%;
    }

    90%{
  left:-1000px;
    }

    100%{
        display:hidden;
    }
}

@keyframes toggle {
  0%{
    left:60%;
  }

  100%{
     left:-1000px;
  }
}

#modal-parent{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:max(50%,800px);
    display:none;
    z-index:200;
  }

  #modal{
    width:60%;
    height:auto;
    padding:30px;
    border-radius:6px;
    position:absolute;
    top:60%;
    left:60%;
    transform:translate(-50%,-50%);
    color:#00001a;
    background-color:#FAEBD7;
    font-size:18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
    font-weight:lighter;
    animation: 0.7s drop;
    border: 3px solid #00001a;
    overflow: hidden;
    padding-bottom:15px;
    z-index:200;
  }

  .X{
    position:absolute;
    right:20px;
    top:5px;
    font-size:30px;
    cursor:pointer;
    font-weight: 700;
  }

  ul{
    width:66%;
  }

  ol{
    padding-left:0;
  }

  ol > li{
    margin-left:15px;
  }

  li{
    font-weight: 300;
  }
  
  #country_flag{
    float:right;
    padding:3px;
    background-color: #00001a;
  }

  img{
    height:40px;
    width:auto;
  }

  .list_title{
    font-weight: 400;
    font-size: 22px;
  }

  #phone-search{
    display:none;
  }


  @media only screen and (max-height: 500px) {
    
    #navBar{      
      max-height: 50px;      
    }
    #modal-parent {
      width:100vw;
      height:100vh;
    }

    #input_button{      
      display:inline-block;
      position:fixed;
      max-width:50vw;
      left:35vw;
      top:1vh;      
    }

    #inputter{
      display:block;
      top:1.75vh;  
      position:absolute;    
      font-size: 16px;
      max-width:180px;  
      transition:0.2s;
      z-index:800;
      
    }
    
    #programRun{
      display:block;
      position:absolute;
      top:12px;
      margin:-5px 0px 5px 185px;
      padding-top:3px;
      padding-bottom: 3px;
      transition:0.5s;
      z-index:801;
    }
    #modal{
      position:relative;
      width:95vw;
      left:45vw;
      height:100%;
      font-size: 16px;
      top:50vh;
      overflow:scroll;
      padding-bottom: 15vh;
    }

    #main_icon{
      position:fixed;
      top: 82%;
      left: 5%;
      display: block;
    }

    #night_light{
      position:fixed;
      top: 50%;
      left: 5%;
      display: block;
    }

    #iss_pin{
      position:fixed;
      top: 35%;
      left: 5%;
      display: block;
    }


    #buttoner{
      position:fixed;
      top: 66%;
      left: 5%;
      display: block;      
      border-radius: 50%;
      padding:8px;
      margin:0px;
      z-index:1;
    }
    
    h1{
      padding-left: 15px;
      max-width: 100%;
      font-weight: 350;      
      overflow: hidden;      
      transition:0.4s;
      z-index:1000;
    }

    #phone-search{
      display:none;
    }
      


    @keyframes drop {
      0%{
        left:-600px;
      }
  
      100%{
    left:45vw;
      }
  }
  
  @keyframes slide {
      0%{
        left:45vw;
      }
  
      90%{
    left:-600px;
      }
  
      100%{
          display:hidden;
      }
  }
  
  @keyframes toggle {
    0%{
      left:45vw;
    }
  
    100%{
       left:-600px;
    }
  }

  }
  @media only screen and (max-width: 420px) {

    #navBar{      
      max-height: 50px;      
    }
    #modal-parent {
      width:100vw;
      height:100vh;
    }

    #input_button{
      display:inline-block;
      position:fixed;
      max-width:50vw;
      right:40vw;
      top:3px;
            
    }

    #inputter{
      position:absolute;      
      font-size: 16px;
      max-width:180px;  
      transition:0.2s;
      z-index:800;    
    }
    
    #programRun{
      position:absolute;      
      margin-left:185px;
      padding-top:3px;
      padding-bottom: 3px;
      transition:0.5s;
      z-index:801;
      top: 4px;      
    }
    #modal{
      position:relative;
      width:95vw;
      left:45vw;
      height:100%;
      font-size: 16px;
      top:50vh;
      overflow:scroll;
      padding-bottom: 15vh;
    }

    #main_icon{
      position:fixed;
      top: 82%;
      left: 5%;
      display: block;
    }

    #iss_pin{
      position:fixed;
      top: 42%;
      left: 5%;
      display: block;
    }

    #night_light{
      position:fixed;
      top: 52%;
      left: 5%;
      display: block;
    }

    #buttoner{
      position:fixed;
      top: 72%;
      left: 5%;
      display: block;      
      border-radius: 50%;
      padding:8px;
      margin:0px;
      z-index:1;
    }
    
    h1{
      padding-left: 15px;      
      font-weight: 350;
      max-width:40px;
      overflow: hidden;      
      transition:0.4s;
      z-index:1000;
    }

    #phone-search{
      display:block;
      position:fixed;
      top: 62%;
      left: 5%;
      padding:9px;
      border-radius: 50%;
      background-color:#5bc0de;
      border:none;
      -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
    }

    #phone-search:active {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      background-color:#5bc0de;
    }

    #phone-search:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      background-color:#5bc0de;
    }

    #searcher{
      height:30px;
      width: auto;      
    }


    @keyframes drop {
      0%{
        left:-200px;
      }
  
      100%{
    left:45vw;
      }
  }
  
  @keyframes slide {
      0%{
        left:45vw;
      }
  
      90%{
    left:-200px;
      }
  
      100%{
          display:hidden;
      }
  }
  
  @keyframes toggle {
    0%{
      left:45vw;
    }
  
    100%{
       left:-200px;
    }
  }

    
  }
