@keyframes drop {
  0% {
    left: -500px;
  }

  100% {
    left: 50%;
  }
}

@keyframes slide {
  0% {
    left: 50%;
  }

  90% {
    left: -1000px;
  }

  100% {
    display: hidden;
  }
}

@keyframes toggle {
  0% {
    left: 60%;
  }

  100% {
    left: -1000px;
  }
}

#modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: max(50%, 800px);
  display: none;
  z-index: 200;
}

#modal {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #00001a;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  font-weight: lighter;
  animation: 0.7s drop;
  border: 3px solid white;
  overflow: hidden;
  padding-bottom: 15px;
  z-index: 200;
}

.X {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
  font-weight: 700;
}

ul {
  width: 66%;
}

ol {
  padding-left: 0;
}

ol>li {
  margin-left: 15px;
}

li {
  font-weight: 300;
}

#country_flag {
  float: right;
  padding: 3px;
  background-color: white;
}

img {
  height: 40px;
  width: auto;
}

.list_title {
  font-weight: 400;
  font-size: 22px;
}

#phone-search {
  display: none;
}

@media only screen and (max-width: 750px) and (min-height: 800px) {
  #modal {
    left: 30%;
  }

  #icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
  }

  #icons>* {
    margin-bottom: 2vh;
  }

  h1 {
    margin: auto;
  }
}



@media only screen and (max-width: 500px) {

  #navBar {
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
  }

  #icons>* {
    margin-bottom: 3vh;
  }

  #modal-parent {
    width: 100vw;
    height: 100vh;
  }

  #input_button {
    display: flex;
    justify-content: flex-start safe;
    align-items: baseline;
    margin:0px;
  }

  #inputter {
    margin-left: 5px;
    font-size: 16px;
    max-width: 180px;
    transition: 0.2s;
    z-index: 800;
  }

  #programRun {
    padding-bottom: 3px;
    transition: 0.5s;
    z-index: 801;
    top: 4px;
  }

  #modal {
    position: relative;
    width: 95vw;
    left: 45vw;
    height: 100%;
    font-size: 16px;
    top: 50vh;
    overflow: scroll;
    padding-bottom: 15vh;
  }


  #buttoner {
    position: fixed;
    top: 85%;
    right: 8%;
    display: block;
    border-radius: 50%;
    padding: 8px;
    margin: 0px;
    z-index: 1;
  }

  h1 {
    padding: 0px;
    margin: 0px;
    font-weight: 350;
    max-width: 25px;
    overflow: hidden;
    transition: 0.4s;
    z-index: 1000;
  }

  #phone-search {
    display: block;
    position: fixed;
    top: 72%;
    right: 8%;
    padding: 9px;
    border-radius: 50%;
    background-color: #f0ad4e;
    border: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  #phone-search:active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #f28100;
  }

  #phone-search:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #f28100;
  }

  #searcher {
    height: 30px;
    width: auto;
  }


  @keyframes drop {
    0% {
      left: -200px;
    }

    100% {
      left: 45vw;
    }
  }

  @keyframes slide {
    0% {
      left: 45vw;
    }

    90% {
      left: -200px;
    }

    100% {
      display: hidden;
    }
  }

  @keyframes toggle {
    0% {
      left: 45vw;
    }

    100% {
      left: -200px;
    }
  }


}

@media only screen and (max-height: 500px) {

  #modal-parent {
    width: 100vw;
    height: 100vh;
  }

  #modal {
    position: relative;
    width: 95vw;
    left: 45vw;
    height: 100%;
    font-size: 16px;
    top: 50vh;
    overflow: scroll;
    padding-bottom: 15vh;
  }

  #navBar {
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #input_button {
    display: flex;
    justify-content: flex-start safe;
    align-items: baseline;
    margin: 0px;
  }

  #inputter {
    margin-left: 5px;
    font-size: 16px;
    max-width: 180px;
    transition: 0.2s;
    z-index: 800;
  }


   
  h1{
    margin:0px;
  }

  #icons {
    display: flex;
    position: fixed;
    top: 79%;
    right: 7%;
  }

  #icons>* {
    margin-right: 1vw;
  }

  #buttoner {
    position: fixed;
    top: 75%;
    left: 5%;
    display: block;
    border-radius: 50%;
    padding: 8px;
    margin: 0px;
    z-index: 1;
  }
}

